/* ===== Font ===== */


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
  font-family: 'Clash';
  src: url('../fonts/ClashDisplay-Variable.ttf');
}

/* ===== Scrollbar ===== */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(210, 246, 90, 0.5);
  cursor: pointer;
}

::-webkit-scrollbar-track {
    background: var(--background);

}


/* ===== General Page ===== */

:root {
  --text: #ffffff;
  --background: #000000;
  --primary: #d2f65a;
  --primary-rgb: 210, 246, 90;
  --secondary: #ebf5ff80;
  --accent: #5392c6;

  --section-padding: 3rem;
}

::selection {
  color: var(--background);
  background: var(--primary);
}

* {
  text-decoration: none;
  box-sizing: border-box; 
}

html {
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--text);
  background: var(--background);
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: Clash;
  font-weight: 400;
  overflow-x: hidden;
  visibility: hidden;
}

/* ===== Responsive ===== */

@media (max-width: 768px) {
  :root {
    --section-padding: 0rem;
  }
  body {
    padding-left: 1rem;
    padding-right: 1rem;
  }

}

/* ===== Loading Screen ===== */

  #loading-screen {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .s0 {
    fill: #d2f65a;
    stroke: #d2f65a;
    paint-order: stroke fill markers;
    stroke-linejoin: round;
    stroke-width: 20;
  }

  /* Animation copied from your original */
  @keyframes animate-svg-stroke-1 {
    0% {
      stroke-dashoffset: 3075.990966796875px;
      stroke-dasharray: 3075.990966796875px;
    }
    100% {
      stroke-dashoffset: 6151.98193359375px;
      stroke-dasharray: 3075.990966796875px;
    }
  }
  @keyframes animate-svg-fill-1 {
    0% { fill: transparent; }
    100% { fill: rgb(210, 246, 90); }
  }
  .svg-elem-1 {
    animation: animate-svg-stroke-1 3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s both,
               animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s both;
  }

  @keyframes animate-svg-stroke-2 {
    0% {
      stroke-dashoffset: 1911.8729248046875px;
      stroke-dasharray: 1911.8729248046875px;
    }
    100% {
      stroke-dashoffset: 3823.745849609375px;
      stroke-dasharray: 1911.8729248046875px;
    }
  }
  @keyframes animate-svg-fill-2 {
    0% { fill: transparent; }
    100% { fill: rgb(210, 246, 90); }
  }
  .svg-elem-2 {
    animation: animate-svg-stroke-2 3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.12s both,
               animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s both;
  }
  



/* ===== Heading ===== */


.hero {
  padding-left: var(--section-padding);
    padding-right: var(--section-padding);
}

.hero-text {
  padding-top: 2rem;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: .5rem;
  overflow: hidden;
}

.hero-heading {
  width: 100%;
    margin-bottom: 20px;
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
    overflow-clip-margin: content-box;
    overflow: clip;
    animation: 1.5s heading-text-load;
    animation-delay: 3s;
    z-index: -1;
}

.hero-subheading {
  letter-spacing: 1px;
    text-transform: uppercase;
    font-family: Clash;
    font-size: 2.7rem;
    font-weight: 600;
    line-height: 110%;
    margin-top: 0;
    margin-bottom: 0;
    background: var(--background);
    z-index: 99;
    overflow: hidden;
    animation: 1.5s opacity;
    animation-delay: 3s;
}



.hero-below {
  padding-left: 0;
  padding-right: 0;
  padding-top: 2rem;
  padding-bottom: 0;
}

.hero-marquee {
  color: var(--background);
  transform-origin: 0;
  background-color: var(--primary);
  overflow: hidden;
  position: relative;
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  animation: 2.5s cubic-bezier(0.4, 0, 0, 1.01) marquee-width;
  animation-delay: 3s;
}

.hero-marquee-inner {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  display: flex;
  animation: marquee 20s linear infinite;
  overflow: hidden;
  position: absolute;

}

.hero-marquee-text {
  letter-spacing: 1.5px;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: Clash;
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
  float: left;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

.hero-marquee:hover div {
  -webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
    animation-play-state: paused;
}


@media (max-width: 768px) {
  .hero-subheading {
    font-size: 3.5vw;
  }
}

/* ===== Code Box ===== */


.code-snippet {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  animation: 3s opacity

}

.editor-block {
  position: relative;
  display: flex;
  width: 60vw;
  height: 460px;
  background: linear-gradient(109.61deg, #262626 4.26%, #202125 84.84%);
  background-attachment: fixed;
  border-radius: 10px;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}

.about-text-container {
  text-align: right;
  padding-left: 100px;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.about-text-header {
  font-size: 5vw;
  line-height: 10%;
  font-style: italic;
  color: var(--text);
}

.about-text-body {
font-size: 1.3vw;
margin-left: 12rem;
letter-spacing: 1px;
}

  @media (max-width: 768px) {
.code-snippet {
    margin-top: 5rem;
  }

  .editor-block {
    width: 100%;
    height: 300px;
  }

.about-text-container {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    align-items: center;
  }

  .about-text-body {
    margin-left: 0;
    font-size: 2.3vw;
  }
}



/* ===== Stats ===== */


.stats {
  padding-left: var(--section-padding);
    padding-right: var(--section-padding);
    padding-top: 7rem;
}

.stat {
  overflow: hidden;
}

.stats-container {
  width: 100%;
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5rem;
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.stat-line {
    perspective-origin: 50%;
    transform-origin: 50%;
    background-color: #000000;
    border: 1px solid #fff;
    width: 99%;
    height: 1px;
    margin-bottom: .5rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.stat-title {
  letter-spacing: 1.5px;
    text-transform: uppercase;
    font-family: Clash;
    font-size: 13px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: .5rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.stat-value {
  letter-spacing: 2px;
  font-weight: 600;
  line-height: 100%;
  font-family: Clash;
  font-size: 4rem;
}

.stat-value span {
  color: var(--primary);
}

  @media (max-width: 768px) {
    .stats {
     padding-top: 1rem;
    }
  .stats-container {
    grid-template-columns: 1fr 1fr;
  }
  .stat-value {
    font-size: 2.5rem;
  }
}




/* ===== Tech ===== */


.tech {
  background-color: var(--background);
    padding-left: var(--section-padding);
    padding-right: var(--section-padding);
}

.tech-container {
  width: 100%;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 5rem;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: .3fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.tech-title {
  grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-items: center;
    display: flex;
}

.tech-title-line {
  perspective-origin: 50%;
    transform-origin: 50%;
    background-color: var(--text);
    width: 24px;
    height: 2px;
}

.tech-title-text {
  letter-spacing: 1.5px;
    text-transform: uppercase;
    font-family: Clash;
    font-size: 13px;
    font-weight: 500;
    line-height: 140%;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--text);
}

.tech-content {
  overflow: hidden;
  grid-column-gap: 113px;
  grid-row-gap: 113px;
  justify-content: flex-start;
  align-items: center;
  justify-items: center;
  display: flex;
}

.tech-content-logos {
  filter: grayscale(20%);
  flex: none;
  justify-content: space-between;
  align-items: center;
  width: 1600px;
  display: flex;
  animation: marquee 20s linear infinite;
  /* animation-play-state: paused; */
  /* animation-delay: calc(var(--scroll) * -0.5s);   */
  position: relative;
  gap: 130px;
}



.tech-content-logos i {
  font-size: 3rem;
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
  border: 0;
  color: var(--primary);
}




@keyframes heading-text-load {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}


@keyframes opacity {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes marquee-width {
  0% {
    width: 0%;
  }


  70% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}


  @media (max-width: 768px) {
.tech-container {
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;
  }
.tech-content-logos {
gap: 75px;
  }
}


/* ===== Work ===== */


.work {
      padding-left: var(--section-padding);
    padding-right: var(--section-padding);
      margin: 0px;
  overflow-x: hidden;
  padding-top: 7rem;
}



.work-line {
  width:100%;
  height:2px;
  perspective-origin: 50%;
  transform-origin: 50%;
  background-color: var(--background);
  border: 1px solid var(--text);
  margin-top: 2rem;
}

.work-marquee {
  color: var(--text);
  margin: 0 auto;
  padding: 18px;
  text-align: center;
  margin-bottom: 10px;
  overflow: hidden;
}

.work-marquee-text {
  white-space: nowrap;
  font-size: 4rem;
  line-height: 1;
  font-weight: 600;
  display: inline-block;
  min-width: 100%;
  overflow: hidden;
}


.myWork {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-auto-columns: 1fr;
  display: grid;
}

.work-box {
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.work-box-link {
  z-index: 10;
  border: 0 solid var(--primary);
  transition: border-width 0.3s;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
  transform: translate(0);
  max-width: 100%;
  display: inline-block;
  border-radius: 10px;
}

.work-box-link:hover {
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 10px;
  border-right-width: 10px;
}


.work-box-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.work-box-button-wrapper {
  z-index: 5;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.work-box-button {
  --size: 100px;
  position: absolute;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: rgba(var(--primary-rgb), 0.6);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  transition: transform 0.4s cubic-bezier(.22, 1, .36, 1), opacity 0.3s ease-out;
}

.work-box-button-text {
  color: var(--background);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-family: Clash Display, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 140%;
}


  @media (max-width: 650px) {
.myWork {
  grid-template-columns: 1fr;
}
.work-marquee-text {
  font-size: 2.5rem;
}
  }

/* ===== Cards ===== */




.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
}


.cards-header {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  
}

.cards-header-line {
  background-color: var(--text);
  width: 0%;
  height: 3px;
}


.cards-header:hover .cards-header-text {
  letter-spacing: 8px;
  font-weight: 700;

}

.cards-header-text {
text-align: center;
transition: 700ms ease;
letter-spacing: 4px;
    font-weight: 600;
    line-height: 100%;
    font-size: 4rem;
    margin-top: 0px;
    margin-bottom: 9px;
}



#card-wrap {
  display: grid;
  gap: 30px;
  width: 100%;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 4rem;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: row;
  justify-content: center;
}

.card-shiny {
  color: var(--text);
  position: relative;
  border-width: 0.833333px;
  border-style: solid;
  border-color: rgb(48, 54, 61);
  padding: 32px;
  padding-top: 10px;
  border-radius: 10px;
  overflow: hidden;
  height: 20rem;
  width: 100%;
  background: linear-gradient(109.61deg, #262626 4.26%, #202125 84.84%);
  font-family: "Mona Sans", "Mona Sans Fallback", -apple-system,
  BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  transition: all 0.1s;
}

.card-shiny::after {
  content: "";
  position: absolute;
  top: calc(var(--y, 0) * 1px - 250px);
  left: calc(var(--x, 0) * 1px - 250px);
  width: 500px;
  height: 500px;
  background: radial-gradient(
    circle,
    var(--primary) 1%,
    rgba(255, 255, 255, 0) 70%
  );
  opacity: 0;
  transition: opacity 0.7s;
}

.card-shiny:hover::after {
  opacity: 0.1;
}

.cards-title{
  text-align: center; 
  font-size: 50px; 
  line-height: 50px;
}

.cards-body {
  font-size: 20px;
  color: var(--secondary);
}

.c0 {
  height: 250px;
  padding-top: 2rem;
}

.c1{
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 3;
}

.c2{
  grid-row-start: 1;
  grid-column-start: 3;

  grid-row-end: 2;
  grid-column-end: 4;
}

.c3{
  grid-row-start: 2;
  grid-column-start: 2;

  grid-row-end: 3;
  grid-column-end: 4;
}

.c4{
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 2;
}

.c5{
  grid-row-start: 3;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 3;
}

.c6{
  grid-row-start: 3;
  grid-column-start: 3;

  grid-row-end: 4;
  grid-column-end: 4;
}


/* ===== CTA ===== */


.cta {
      padding-left: var(--section-padding);
    padding-right: var(--section-padding);
    padding-top: 7rem;
      margin: 0px;
  overflow-x: hidden;
  padding-bottom: 7rem;
}

.cta-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 7rem;
}

.cta-logo {
    width: 70px;
    height: 70px;
    background-color: var(--primary); /* This will be the color of the logo */
    -webkit-mask: url('../img/logoV2.svg') no-repeat center / contain;
    mask: url('../img/logoV2.svg') no-repeat center / contain;
}

.cta-head {
  font-size: 5rem;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  text-align: center;
  margin: 3rem;
margin-top: 0;
}

  @media (max-width: 479px) {
.cta-head {
    font-size: 3rem;
  }
  }