<link rel="stylesheet" href="/styles/css/footer.css" />

<section class="footer">
  <div class="footer-grid">
    
    <!-- Row 1: 5 items -->
    <div class="footer-row footer-row-1">
      <div><a class="footer-link" href="/work#concepts">Concepts</a></div>
      <div><a class="footer-link" href="https://github.com/cdobby9">Github</a></div>
      <div><a class="footer-link" href="/blog">Blog</a></div>
      <div><a class="footer-link" href="https://www.fiverr.com/cdobby9">Fiverr</a></div>
      <div><a class="footer-link" href="/contact">Contact</a></div>

    </div>

    <!-- Row 2: 4 items (centered) -->
    <div class="footer-row footer-row-2">
      <div><a class="footer-link" href="https://www.mypocketskill.com/profiles/70169">MyPocketSkill</a></div>
      <div><a class="footer-link" href="/work#personal">Personal Projects</a></div>
      <div><a class="footer-link" href="/work#client">Client Work</a></div>
    </div>

  </div>
  <img class="footer-img" src="/styles/img/footerText.png" alt="Logo" />
  <p class="footer-text">© 2026 Charles Dobson. All rights reserved.</p>
</section>
