<link rel="stylesheet" href="styles/css/footer.css" />

<section class="footer">
  <div class="footer-grid">
    
    <!-- Row 1: 5 items -->
    <div class="footer-row footer-row-1">
      <div><a class="footer-link" href="#">Concepts</a></div>
      <div><a class="footer-link" href="#">Github</a></div>
      <div><a class="footer-link" href="#">Blog</a></div>
      <div><a class="footer-link" href="#">Fiverr</a></div>
      <div><a class="footer-link" href="#">Contact</a></div>

    </div>

    <!-- Row 2: 4 items (centered) -->
    <div class="footer-row footer-row-2">
      <div><a class="footer-link" href="#">MyPocketSkill</a></div>
      <div><a class="footer-link" href="#">Personal Projects</a></div>
      <div><a class="footer-link" href="#">Client Work</a></div>
    </div>

  </div>
  <img class="footer-img" src="styles/img/footerText.png" alt="Logo" />
  <p class="footer-text">© 2025 Charles Dobson. All rights reserved.</p>
</section>