<link rel="stylesheet" href="styles/css/navBar.css" />


<div class="navBar">
    <div class="navBar-left">
      <h2>My Portfolio</h2>
    </div>
    <div class="navBar-right">
      <div class="navBar-menu">
        <a href="#" class="navBar-menu-link">Home</a>
        <a href="#" class="navBar-menu-link">Work</a>
        <a href="#" class="navBar-menu-link">Contact</a>
      </div>
      <div class="navBar-button">
        <div class="navBar-button-inner">
          <div class="navBar-button-inner-line-left"></div>
          Book a meeting
          <div class="navBar-button-inner-line-right"></div>
        </div>
      </div>
    </div>

  </div>